.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  flex: 1;
}

.wrap > input {
  flex: 1;
  height: 40px;
  border: none;
  border-radius: 0px;
  color: var(--color);
  font-size: 18px;
  font-weight: bold;
  background: var(--background);
  transition: var(--transition);
  margin: 0px;
  padding: 0px 5px;
}

.wrap > input:focus {
  outline: none;
}

.wrap > input:focus:first-of-type + p {
  background: linear-gradient(var(--hover-color), var(--hover-color)) bottom /
    100% 100% no-repeat var(--background-300);
}

.wrap > p {
  position: absolute;
  background: linear-gradient(var(--hover-color), var(--hover-color)) bottom /
    0% 100% no-repeat var(--background-300);
  height: 2px;
  width: 100%;
  transition: var(--transition);
  bottom: 0px;
  margin: 0px;
  padding: 0px;
}
