@import url(../variable/variable.css);

html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: var(--background);
  color: var(--color-100);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  position: fixed;
  background: var(--header-background);
  z-index: 999;
}

main {
  margin-top: 60px;
  width: 1024px;
}

p {
  margin: 0px;
  padding: 0px;
}

a {
  color: var(--color-100);
  text-decoration: none;
}

.padding-y-10 {
  padding: 10px 0px;
}

@media only screen and (max-width: 1620px) {
  .markdown-toc-wrap {
    display: none !important;
  }
}

@media only screen and (max-width: 1400px) {
  main {
    width: 1024px;
  }

  header {
    width: 1024px;
  }

  header > div {
    padding: 0px !important;
  }
}

@media only screen and (max-width: 1060px) {
  main {
    width: calc(100% - 40px) !important;
  }

  header {
    width: 100%;
  }

  header > div {
    padding: 0px 20px !important;
  }

  .padding-y-10 {
    padding: 5px 0px !important;
  }

  .posts-item-wrap {
    padding: 10px !important;
  }

  .contents-item-wrap {
    padding: 10px !important;
  }

  .post-image-wrap,
  .content-image-wrap {
    width: 100px !important;
    height: 100px !important;
  }

  .markdown-body {
    padding: 20px 0px !important;
  }

  .sign-up-contents-wrap {
    width: 100% !important;
  }

  .posts-tags-wrap {
    display: none !important;
  }
}

pre {
  position: relative !important;
  display: flex !important;
  margin-bottom: 5px !important;
}

code.language-javascript,
code.language-typescript,
code.language-sql,
code.language-c,
code.language-css,
code.language-scss,
code.language-shell,
code.language-python,
code.language-powershell,
code.language-xml,
code.language-bash,
code.language-json,
code.language-plaintext {
  padding-right: 40px !important;
  line-height: 26px !important;
}

button:disabled {
  background: var(--button-disabled);
  color: var(--button-disabled);
  /* opacity: 0.2; */
}

.code-copy-button {
  margin-left: -26px;
  width: 26px;
  height: 26px;
  position: sticky;
  left: calc(100% - 26px);
  padding: 0px;
  cursor: pointer;
  border: none;
  background: none;
  transition: 0.3s all ease-in-out;
  border-radius: 5px;
  flex: none !important;
}
