.markdown-wrap {
  width: 100%;
  display: flex;
  gap: 16px;
}

.markdown-content-wrap {
  width: 100%;
}

.markdown-toc-wrap {
  position: sticky;
  min-width: 250px;
  max-width: 250px;
  height: fit-content;
  top: 120px;
  padding: 10px;
  border-left: 2px solid var(--background-200);
  font-size: 14px;
}

.markdown-toc-wrap a:hover {
  text-decoration: none !important;
}

.markdown-toc-wrap a:hover > p {
  color: var(--color);
}

.markdown-toc-content {
  text-decoration: none;
  color: #aaa;
  margin-bottom: 10px !important;
  transition: 0.2s all ease-in-out;
}
