header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  position: fixed;
  background: var(--header-background);
  z-index: 999;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1024px;
}

.header-menu-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-logo {
  transition: 0.3s all ease-in-out;
}

.header-logo:hover {
  color: var(--hover-color);
}